* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

nav ul {
    display: flex;
    list-style: none; 
}

nav ul li{
    margin-right: 20 px;
}
 nav ul li a{
    text-decoration: none;
    color: #000;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.product-image {
    flex: 1;
}
 
.product-image img{
    width: 100%;
    max-width: 400px;
 }

 .product-details{
    flex: 1;
    padding-left: 40px;
 }

 .product-details h1{
    font-size: 24px;
    margin-bottom: 20px;
 }

 .product-details p{
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
 }

 .product.product-details h4{
    margin-bottom: 10px;
 }

 .color-options label{
    margin-left: 10px;
    font-weight: bold;
 }

 .add-to-cart{
    padding: 10px 20px ;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
 }

 footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
 }

 
 